body {
    font-family: Arial, sans-serif;
    transition: background 0.3s, color 0.3s;
}

.dark-mode {
    background: #1e1e1e;
    color: white;
}

#loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark-mode #loadingScreen {
    background: black;
}

button {
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    background: #008CBA;
    color: white;
    transition: background 0.3s;
}

button:hover {
    background: #005F73;
}

/* **Budget-Farben** */
.green { color: green; }
.yellow { color: orange; }
.red { color: red; }
